<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css?ver=1">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="card">
            <h1>소개</h1>
            <h5 class="card-header">S/W의 철학</h5>
            <div class="card-body">
              <p class="card-text">저의 철학은 "도전과 변화에 두려워하지 말자", "남을 시기하지 않고 자신만의 실력을 키우자", "사람
                을 존중하자" 입니다.
                자기 자신을 성장시키기 위해 저만의 철학을 내세우며 인생의 과정을 겪고 있었습니다.
                저의 목표는 소프트웨어 연구자가 되는 것입니다. 그동안 학창 시절 컴퓨터 관련 학과를 전공을 하며
                국가에서 지원하는 S/W 양성과정을 수료를 하면서, 부족한 개발 실력을 맺구기 위해 3년동안 개인시
                간을 만들어 알고리즘에 공부를 하여 효율적인 프로그래밍을 하는 과정과 또한 웹 개발 개인 프로젝트
                를 진행을 하여 방문자 늘리기에 진행을 하였습니다. 그 과정에 있어서 실패를 많이 겪었지만 이것이
                성장과정 중 하나라고 생각합니다.
                저의 실패 요인은 무리한 계획과 도움없이 모든 것을 혼자서 해결하고, 시야를 좁게 본 것이 실패요인
                이라고 할 수 있으며, 그 실패 요인을 성공으로 바꾸기 위해 사람의 도움없이 필요하다고 느끼며, 도움
                을 통해 저의 단점을 장점으로 만들고 싶습니다.
                이후, 회사 생활을 통해 성장을 하면서 차후 사람들에게 필요한 사람으로 각인 시키고 싶으며, 남을 시
                기하지 않고 어떠한 환경이 변하거나 불가능 한 것을 가능하게끔 하여 저의 실력으로 경쟁성 있는 모
                습으로 삼성SDS라는 회사에 기여하고 싶습니다.</p>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">개발자의 인생으로 살아가는 이유</h5>
            <div class="card-body">
              <p class="card-text">저에게는 중요한 역할을 하고 있습니다.</p>
            </div>
        </div>
    </div>
</body>
</html>