div .adminContainer {
  display: flex;
  height:100%;
  // background-color: #fff;
  padding:10px 5px 10px 5px;
  margin: 0 auto;

  & .adminMenu{
    flex: 0 0 20%;
    height:100%;
    border: 1px solid #111;
    display: list-item;
  }

  & .adminContents{
    flex: 0 0 80%;
    height:100%;
    padding: 100px 50px 100px 50px;
    border: 1px solid #111;
    margin: 0 auto;
    /* background-color: #eee; */
  }
}
