// 웹 용
div .adminContainer {
  display: flex;
  height:100%;
  // background-color: #fff;
  padding:10px 5px 10px 5px;
  margin: 0 auto;

  & .adminMenu{
    flex: 0 0 20%;
    height:100%;
    border: 1px solid #111;
    display: list-item;
  }

  & .adminContents{
    flex: 0 0 80%;
    height:100%;
    padding: 100px 50px 100px 50px;
    border: 1px solid #111;
    margin: 0 auto;
    /* background-color: #eee; */
  }
}


// 모바일 용
div .mAdminContainer {
  width:100%;
  padding: 10px 5px 10px 5px;

  & .mAdminHeader {
    width: 100%;

    & .mAdminHeaderLogo {
      float: left;
    }

    & .mAdminHeaderMenu{
      float: right;
      text-align: right;
    }

    & .mAdminContents {
      height:100%;
      margin: 0 auto;
    }
  }
}