/* 모달 설정 */

.modal-container {
  /* display:flex; */
  display:none;
  flex-wrap:wrap;
  width:1200px;
  /* margin : 0 auto */
  margin-top:-8%;
  background: rgba(0,0,0,.5);
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;

  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-contents {
  /* display:flex; */
  display:table;
  position: fixed;
  _position: absolute;
  width: 85%;
  height:80%;
  z-index:9998;
  border-style:solid;
  border-color: black;
  justify-content: center;
  align-items: center;
  background-color: white;
  scroll-behavior: smooth;
  padding: 1.5%
}

/* #detail:hover {
  background:gray;
  opacity:0.2;
} */