div.modal-login {
  margin:0 auto;
  align-items: center;
}

div.modal-login .login-logo {
  background-color: #232323;
  width: 100%;
  height: 50px;
  margin: 0 0 30px 0;
}

/* div.modal-login .modal-close {
  margin: -20px 0 0 0;
} */

div.modal-login .login-title {
  /* justify-content: center; */
  margin-left:28%;
  /* align-items: center;
  align-content: center; */
}

div.modal-login .login-form {
  padding:20px 50px 20px 50px;
}

div.modal-login .login-form .flex-input {
  display:flex;
  padding:5px 0 5px 0;
  align-items: center;
}

div.modal-login .login-form .flex-label-left {
  flex: 0 0 20%;
}

div.modal-login .login-form .flex-label-right {
  flex: 0 0 80%;
}


div.modal-login .login-button-component {
  padding:30px 50px 20px 50px;
  display:list-item;
}

div.modal-login .login-button-component .common-button {
  width:100%;
  padding: 10px 0 10px 0;
  font-size: 1.25rem;
}

div.modal-login .login-button-component .login-button {
  background-color: #2222dd;
}

div.modal-login .login-button-component .sign-in-button {
  background-color: #eeeeee;
}

div.modal-login .login-button-component .find-id-password-button {
  background-color: #dddddd;
}
