blockquote {
    /* border-left: 0.1vh solid #000; */
    margin: 1vh;
    margin-left: 6vh;
    word-break:break-all;
    /* overflow-x: hidden; */
}

/* div.d-flex.flex-column.bd-highlight.mb-4{
    margin-left: 6hv;
} */

/* div.p-5.bd-highlight {
    border-left: 0.1vh solid #000;
} */

.career {
    margin: 1vh;
    font-size:3vh;
    margin-bottom:10vh;
}

pre {
    margin: 3vh;
    background-color: aliceblue;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    overflow: auto;
    white-space: pre-wrap;
}  

/* div.detail {
  display: block;
  word-break:break-all;
  position: relative;
  width: fit-content;
  /* padding: 15px; */
  /* max-width: 80%; */
  /* margin: 0 auto 20px 0; */
  /* border-radius: 16px;
} */