/* 모달 설정 */

#modal {
  /* display:flex; */
  display:none;
  flex-wrap:wrap;
  width:1200px;
  /* margin : 0 auto */
  margin-top:-8%;
  
}

#detail {
  /* display:flex; */
  display:table;
  position: fixed;
  _position: absolute;
  width: 85%;
  height:80%;
  z-index:9998;
  border-style:solid;
  border-color: black;
  justify-content: center;
  align-items: center;
  background-color: white;
  scroll-behavior: smooth;
  padding: 1.5%
}

/* #detail:hover {
  background:gray;
  opacity:0.2;
} */