.App {
  text-align: center;
}

/* 모달 설정 */
.modal {
  display:none;
  position: fixed;
  _position: absolute;
  z-index:9998;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

/* 움직이는 그림 css로 표현 */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  min-height:70vh;
  width:1200px;
  padding-top:50px;
  padding-bottom:50px;
}

.header {
  background-color: #262930;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
}

.se-viewer a, .se-viewer audio, .se-viewer blockquote, .se-viewer caption,
 .se-viewer code, .se-viewer dd, .se-viewer del, .se-viewer div, .se-viewer dl,
  .se-viewer dt, .se-viewer em, .se-viewer embed, .se-viewer h1, .se-viewer h2,
   .se-viewer h3, .se-viewer h4, .se-viewer h5, .se-viewer h6, .se-viewer iframe,
    .se-viewer img, .se-viewer ins, .se-viewer li, .se-viewer mark, .se-viewer object,
     .se-viewer ol, .se-viewer p, .se-viewer pre, .se-viewer q, .se-viewer s,
      .se-viewer small, .se-viewer span, .se-viewer strike, .se-viewer summary,
       .se-viewer table, .se-viewer tbody, .se-viewer td, .se-viewer tfoot,
        .se-viewer th, .se-viewer thead, .se-viewer tr, .se-viewer ul, .se-viewer video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font: inherit;
  vertical-align: baseline;
}


/***************** footer css ***********************/
.footer {
  width:100%;
  background-color: #262930;
  color: #fff;
  min-height:20vh;
}
.ft-content {
  width:1200px;
  margin: 0 auto;
  padding-top: 3.125em;
}
.ft-service {
  font-weight: bold;
}
.ft-service div{
  color:#fff;
  text-decoration: none;
}
.ft-service div a {
  color:#fff;
  text-decoration: none;
}
.ft-address,.ft-copy {
  font-size: 0.75rem;
}